nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
}

nav a, nav button {
	flex: 0 1 40ch;
	color: white;
	text-decoration: none;
	background: #0006;
	border: 1px solid #fff6;
	margin: 0.5rem;
	padding: 0.5em;
	text-shadow: inherit;
	backdrop-filter: blur(3rem);
	font-weight: bold;
	box-shadow: 0 0 1ch #0006;
}

nav button:hover, nav a:hover {
	cursor: pointer;
	color: var(--theme-color);
	background: none;
	/* text-shadow: 0 0 3px; */
	backdrop-filter: brightness(150%) blur(3rem);
}
