main article {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	width: 100%;
	max-width: 400px;
	background: #0006;
	border: 1px solid #fff6;
	border-bottom: none;
	margin: 1rem;
}

main article figure {
	/* flex: 3 1 350px; */
	max-height: 400px;
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/* background: #333; */
	border-bottom: 1px solid #fff6;
	background: radial-gradient(#666, #333);
}

main article figure img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: top center;
	padding: 0;
	margin: 0;
	filter: grayscale(90%);
	transition: filter 0.5s ease-in-out;
}

main article figure img:hover {
	filter: grayscale(0%);
}

main article section {
	flex: 0 1 auto;
	display: flex;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid#fff6;
	align-items: stretch;
	justify-content: center;
}

main article section h3 {
	flex: 1 1 0;
	background: #0006;
	/* color: black; */
	margin: 0;
	border-right: 1px solid #fff6;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

main article section p {
	flex: 3 3 0;
	text-align: left;
	margin: 0;
	padding-left: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
