main article {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	width: 100%;
	max-width: 40ch;
	background: #0006;
	border: 1px solid #fff6;
	border-bottom: none;
	margin: 0.5rem;
	backdrop-filter: blur(3rem);
	box-shadow: 0 0 1ch #0006;
}

main article figure {
	/* flex: 3 1 350px; */
	max-height: calc(40ch - 1px);
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/* background: #333; */
	border-bottom: 1px solid #fff6;
	background: radial-gradient(#666, #333);
}

main article figure img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: top center;
	padding: 0;
	margin: 0;
	/* filter: saturate(100%) contrast(100%); */
	transition: filter 0.25s ease-in-out;
}

main article.Deceased figure img {
	filter: saturate(0%);
}

main article figure img:hover {
	filter: saturate(300%) contrast(300%);
}

main article section {
	flex: 0 1 auto;
	display: flex;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid#fff6;
	align-items: stretch;
	justify-content: center;
}

main article section > * {
	padding: 0.5ch;
}

main article section h3 {
	flex: 3 3 0;
	margin: 0;
	border-right: 1px solid #fff6;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: normal;
}

main article section p {
	flex: 5 5 0;
	text-align: left;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/* Tooltip Styles */
main article .tooltip {
	position: relative;
}

main article .tooltip .tooltipText {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	background: #0009;
	padding: 0.5ch;
	transform: translateY(100%);
	transition: transform 0.25s ease-in-out;
	border-top: 1px solid #fff6;
}

main article .tooltip:hover .tooltipText {
	transform: translateY(-1px);
}
