/* @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,400i,700,700i&display=swap');
@import url('css/crt.css');
@import url('css/Profiles.css');
@import url('css/Profile.css');
@import url('css/Nav.css');

:root {
	font-size: calc(10px + 0.5vmin);
	--theme-color: #095;
}

*::selection {
	text-shadow: 0 0 3px;
	background: var(--theme-color);
}

.App {
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	color: white;
	padding: 0.5rem;
	margin: 0;
}

html::before {
	content: 'TEA-OSv1.5 \A ©the8bitMoon';
	white-space: pre;
	position: fixed;
	top: 0;
	text-align: left;
	height: 100vh;
	width: 100vw;
	font-size: 0.5rem;
	color: white;
	background: url('img/Future_Foundation_symbol.png'), linear-gradient(#333, var(--theme-color), #333);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: -100;
	font-family: 'IBM Plex Mono', monospace;
	padding: 0.1rem;
	filter: brightness(50%);
	text-shadow: 0 0 3px;
}

aside {
	padding-bottom: 1rem;
	font-size: 0.8rem;
}

aside button {
	color: white;
	background: #0003;
	border: 1px solid #fff3;
	padding: 0.5em;
	z-index: -50;
	font-size: inherit;
}
